<!DOCTYPE html>
<html lang="en" style="width:98%;height:98%">
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="{{ url_for('static', filename='openseadragon.js') }}"></script>
        <title>Slide</title>
    </head>

    <body style="width:100%;height:100%">
        <div id="openseadragon1" style="width:100%;height:100%"></div>
        <script type="text/javascript">
            var viewer = OpenSeadragon({
                id: "openseadragon1",
                prefixUrl: "{{ url_for('static', filename='images/') }}",
                tileSources: "{{ slide_url}}",
                minZoomImageRatio: 0,
                maxZoomPixelRatio: 2,
                autoResize: true,
                visibilityRatio: 0,

                gestureSettingsMouse: {
                    flickEnabled: false,
                },
                springStiffness: 5,// 5
                animationTime: 0.5, //0.5

                zoomPerSecond: 0.5,//0.5
                zoomPerScroll: 1.3,

                showNavigator: true,
                navigatorPosition: "BOTTOM_RIGHT",
            });
        </script>
    </body>
</html>